@import url("https://fonts.googleapis.com/css?family=Roboto:100");
body {
    font-family : 'Roboto' , sans-serif;
    font-size: 24px;
    background-color: paleturquoise;
    color: navy;
}
.grid-container {
  display: flex;
  flex-direction: row;
}

#art{
    border: 5px solid cornflowerblue;
    border-radius: 7px;
    float: left;
    z-index: 5;
}

.command{
    margin-left: 20px;
    opacity: 1;
    z-index: 5;
}

.command:hover{
    margin-left: 20px;
    opacity: 0.5;
    z-index: 5;
}

#now_color{
  margin-left: 20px;
}

.thickness{
    margin-left: 20px;
}

  .inner_row{
      display: flex;
      flex-direction: row;
  }

  #inner_col{
      display: flex;
      flex-direction: column;
      margin-left: 25px;
  }

  #text{
      margin-right: 25px;
  }
  
  #util_box{
      padding-top: 50px;
      padding-bottom: 70px;
  }

  .text-style {
    float: left;
    display: none;
    position: absolute;
    font: 28px orbitron;
    word-break: break-all;
    background-color: transparent;
    resize: none;
    z-index: 1;
}